<%= form_for(@user, url: { action:"update_email" }, local: true ) do |form| %>
  <div class="form-group">
    <%= form.label :email, "Nouvelle adresse email" %>
    <%= form.email_field :email %>
  </div>
  <div class="form-group">
    <%= form.label :current_password, "Votre mot de passe" %>
    <%= form.password_field :current_password, autocomplete: "off"  %>
  </div>
  <div class="nav-actions flex-between">
    <%= hidden_field_tag(:step, @step) %>
    <%= form.submit "Enregistrer" %>
  </div>
<% end %>

<div class="forms-adjacent">
    <%= form_for(@eleve, @user, url: { action:"update_password" }, local: true ) do |form| %>
      <div class="form-group">
        <%= form.label :current_password, "Mot de passe actuel" %>
        <%= form.password_field :current_password, autocomplete: "off"  %>
      </div>
      <div class="form-group">
        <%= form.label :password, "Nouveau mot de passe" %>
        <%= form.password_field :password %>
      </div>
      <div class="form-group">
        <%= form.label :password_confirmation, "Nouveau mot de passe" %>
        <%= form.password_field :password_confirmation %>
      </div>
      <div class="nav-actions flex-between">
        <%= hidden_field_tag(:step, @step) %>
        <%= form.submit "Enregistrer" %>
      </div>
    <% end %>
  </div>
