<div class="container">
  <div id="edit-form-prof">
    <%= simple_form_for @eleve do |f| %>
      <div class="form-flexify">
        <div class="form-left-part">
          <div class="form-profil">
            <h2>Mon profil</h2>
            <%= f.input :city, label: 'Ville', placeholder: 'Votre ville', required: true, error: 'Le Ville est obligatoire' %>
            <%= f.input :phone_number, label: 'Numéro de téléphone', placeholder: '00 00 00 00 00', required: true, error: 'Le numéro de téléphone est obligatoire', hint: '(attention : vous recevrez les notifications de cours sur ce numéro)' %>
            <%= f.input :presentation, as: :text, label: 'Présentation', placeholder: 'Décrivez-vous, votre expérience, mettez en avant votre profil', required: true, error: 'La présentation est obligatoire' %>
          </div>

        <div class="form-activity">
          <h2>Mon activité</h2>
        </div>
        <div class="form-social-network">
          <h2>Mes réseaux sociaux</h2>
          <p>Vos réseaux sociaux apparaîtront sur votre profil en ligne.</p>
          <div class="flexify">
            <%= image_tag 'instagram.svg' %><%= f.input :instagram, label: false, placeholder: 'www.intagram.com/cooach000' %>
          </div>
          <div class="flexify">
            <%= image_tag 'facebook.svg' %><%= f.input :facebook, label: false, placeholder: 'www.intagram.com/cooach000' %>
          </div>
        </div>
        <div class="form-company-info">
          <h2>Mon entreprise</h2>
          <%= f.input :siret_number, label: 'Numéro de SIRET', placeholder: '000 000 000 000 000', required: true %>
          <%= f.input :company_address, label: 'Adresse de domiciliation de la société', placeholder: 'Adresse', required: true %>
        </div>
        <div class="form-bank-info">
          <h2>Mes coordonnées bancaires</h2>
          <p>Entrez vos coordonnées bancaires pour que nous puissions vous envoyer les paiements de vos cours effectués en ligne.</p>
          <%= f.input :iban, label: 'IBAN', placeholder: '000 000 000 000 000' %>
          <%= f.input :bic, label: 'BIC', placeholder: '873628' %>
        </div>
        <%= f.submit 'Enregistrer', class: 'btn-rectangle' %>
        </div>

        <div class="form-right-part">
          <div class="form-wallet">
            <h2>Mon solde</h2>
            <p>Votre solde correspond au montant que vous avez gagné ce mois-ci sur Livesson. Il vous sera versé automatiquement chaque 1er du mois.</p>
            <%= image_tag 'wallet.svg' %>
          </div>
          <div class="form-bills">
            <h2>Mes factures</h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
