<div class="container">
  <div id="form-prof">
    <%= simple_form_for @eleve do |f| %>

      <div class="form-flexify">
        <div class="form-left-part">
          <div class="form-profil">
            <h2>Mon profil</h2>
            <div class='flexify'>
              <%= image_tag 'page-connexion/page-connexion-inscription-image.jpg', class: 'profil-picture-prof' %>
              <div class="nom-prenom">
                <%= f.input :name, label: 'Prénom', placeholder:'Votre prénom', required: true, error: 'Le Prénom est obligatoire' %>
                <%= f.input :surname, label: 'Nom', placeholder:'Votre nom', required: true, error: 'Le Nom est obligatoire' %>
              </div>
            </div>
            <%#= f.input :birthdate, as: :date, start_year: Date.today.year - 100,
                                    end_year: Date.today, discard_day: true,
                                    order: [:month, :year] %>
            <%= f.input :sex, as: :check_boxes, collection: ['Homme', 'Femme', 'Ne souhaite pas communiquer'] %>
            <%#= f.input :country, label: 'Pays', placeholder: 'Votre pays', required: true, error: 'Le Pays est obligatoire' %>
            <%= f.input :city, label: 'Ville', placeholder: 'Votre ville', required: true, error: 'Le Ville est obligatoire' %>
            <%= f.input :phone_number, label: 'Numéro de téléphone', placeholder: '00 00 00 00 00', required: true, error: 'Le numéro de téléphone est obligatoire', hint: '(attention : vous recevrez les notifications de cours sur ce numéro)' %>
            <%= f.input :presentation, as: :text, label: 'Présentation', placeholder: 'Décrivez-vous, votre expérience, mettez en avant votre profil', required: true, error: 'La présentation est obligatoire' %>
          </div>
          <div class="form-paiement">
            <p>Indiquez votre carte bancaire vous permettra de prendre des cours si vous le souhaitez sur Livesson.
            Aucun paiement ne s’effectuera en avance. Vous serez prélevé une fois la réservation de votre cours effectuée.</p>
            <h2>Paiement</h2>
          </div>
        </div>
        <div class="form-right-part">
          <div class="form-activity">
            <h2>Mon activité</h2>
          </div>
          <div class="form-social-network">
            <h2>Mes réseaux sociaux</h2>
            <p>Vos réseaux sociaux apparaîtront sur votre profil en ligne.</p>
            <%= f.input :instagram, placeholder: 'www.intagram.com/cooach000' %>
            <%= f.input :facebook, placeholder: 'www.intagram.com/cooach000' %>
          </div>
          <div class="form-company-info">
            <h2>Mon entreprise</h2>
            <%= f.input :siret_number, label: 'Numéro de SIRET', placeholder: '000 000 000 000 000', required: true %>
            <%= f.input :company_address, label: 'Adresse de domiciliation de la société', placeholder: 'Adresse', required: true %>
          </div>
          <div class="form-bank-info">
            <h2>Mes coordonnées bancaires</h2>
            <p>Entrez vos coordonnées bancaires pour que nous puissions vous envoyer les paiements de vos cours effectués en ligne.</p>
            <%= f.input :iban, labe: 'IBAN', placeholder: '000 000 000 000 000' %>
            <%= f.input :bic, labe: 'BIC', placeholder: '873628' %>
          </div>
          <p>En cliquant sur « Enregistrer » j’atteste avoir lu et compris les <span class="bold">Conditions Générales d’Utilisation</span>, que j’accepte sans aucune réserve.</p>
          <%= f.submit 'Enregistrer', class: 'btn-rectangle' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
