<% if current_user.eleve.prof? %>
  <h2>Mes cours comme Prof +</h2>
  <%= link_to new_template_path do %>
    <button class='btn-rectangle'>Créer un cours</button>
  <% end %>
  <%= link_to new_lesson_path do %>
    <button class='btn-rectangle'>Créer un cours</button>
  <% end %>
  <% @lessons.each do |lesson| %>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="card">
            <div class="image">
              <%= image_tag "empty.jpg" %>
            </div>
            <div class="card-content">
              <div class="card-content-left">
                <p class="lesson-type medium"> <%= lesson.lesson_name %> </p>
                <p class="lesson-level"> <%=lesson.lesson_level %> </p>
                <p class="lesson-teacher medium"> <%=lesson.eleve.name.capitalize %> <%= lesson.eleve.surname.capitalize %> </p>
                <p class="lesson-date"><%= lesson.lesson_date.strftime('%a %d %b') %> à <%= lesson.beginning_time.strftime('%Hh%M') %></p>
                <p class="lesson-language">Cours en <%= lesson.lesson_language %></p>
                <!-- <div class="lesson-notation">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <span class="__number">(3)</span>
                </div> -->
              </div>
              <div class="card-content-right">
                <div class="card-content-right-top">
                  <p class="lesson-price medium">
                    <% if lesson.lesson_discount_price.nil? %>
                      <%= lesson.lesson_price %>€
                    <% else %>
                      <%= lesson.lesson_discount_price %>
                    <% end %>
                  </p>
                  <p class="lesson-duration"><%= lesson.lesson_duration / 60 %>min</p>
                </div>
                <% unless lesson.eleve == current_user.eleve %>
                  <button class="btn-rectangle">Réserver</button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<% end %>
<h2>Mes cours comme Eleve +</h2>
<% @bookings.each do |booking| %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="card">
          <div class="image">
            <%= image_tag "empty.jpg" %>
          </div>
          <div class="card-content">
            <div class="card-content-left">
              <p class="lesson-type medium"> <%= booking.lesson.lesson_name %> </p>
              <p class="lesson-level"> <%= booking.lesson.lesson_level %> </p>
              <p class="lesson-teacher medium"> <%= booking.lesson.eleve.name.capitalize %> <%= booking.lesson.eleve.surname.capitalize %> </p>
              <p class="lesson-date"><%= booking.lesson.lesson_date.strftime('%a %d %b') %> à <%= booking.lesson.beginning_time.strftime('%Hh%M') %></p>
              <p class="lesson-language">Cours en <%= booking.lesson.lesson_language %></p>
              <!-- <div class="lesson-notation">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <span class="__number">(3)</span>
              </div> -->
            </div>
            <div class="card-content-right">
              <div class="card-content-right-top">
                <p class="lesson-price medium">
                  <% if booking.lesson.lesson_discount_price.nil? %>
                    <%= booking.lesson.lesson_price %>€
                  <% else %>
                    <%= booking.lesson.lesson_discount_price %>
                  <% end %>
                </p>
                <p class="lesson-duration"><%= booking.lesson.lesson_duration / 60 %>min</p>
              </div>
              <%= link_to booking_path(booking), method: :delete do %>
              <button class="btn-rectangle-gray">Annuler</button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
