<h2>Mes cours comme Prof +</h2>
<%= link_to new_template_path do %>
  <button class='btn-rectangle'>Créer un cours</button>
<% end %>
<%= link_to new_lesson_path do %>
  <button class='btn-rectangle'>Créer un cours</button>
<% end %>
<% @templates.each do |lesson| %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="card">
          <div class="image">
            <%= image_tag "empty.jpg" %>
          </div>
          <div class="card-content">
            <div class="card-content-left">
              <p class="lesson-type medium"> <%= template.template_name %> </p>
              <p class="lesson-level"> <%=template.template_level %> </p>
              <p class="lesson-teacher medium"> <%= @eleve.name.capitalize %> <%= @eleve.surname.capitalize %> </p>
              <p class="lesson-date"><%= 'Jour' %> à <%= '00h00' %></p>
              <p class="lesson-language">Cours en Français</p>
              <!-- <div class="lesson-notation">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <span class="__number">(3)</span>
              </div> -->
            </div>
            <div class="card-content-right">
              <div class="card-content-right-top">
                <p class="lesson-price medium">
                  00€
                </p>
                <p class="lesson-duration">00min</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
