<div id="prof-show" data-prof-id="<%= @prof.id %>" data-controller="lessons" class="flexify">
  <div class="container-show-prof">
    <div class="back-to-search flexify space-between mb-4">
      <div>
        <%= link_to :back, class: "flexify" do %>
          <%= image_tag "caret-left.png", class: "caret-left" %>
          <p class="go-back">Revenir à la recherche</p>
        <% end %>
      </div>
      <h4>PARTAGER CE PROFIL
        <span class="social-media-sharing-icon"><%= image_tag "social_media_share.svg" %></span>
      </h4>
    </div>

    <!--------------------------  PROF ------------------------------------------------------->

    <div class="show-prof">

      <!-- PROF INFO & SOCIAL -->
      <div class="flexify">
        <div class="image-profil">
          <% if @eleve.profile_picture.attached? %>
            <%= image_tag @eleve.profile_picture, class: 'profil-picture-eleve' %>
          <% else %>
            <%= image_tag 'empty.jpg', class: 'profil-picture-eleve' %>
          <% end %>
        </div>
        <div class="flex-grow-1">
          <h3 class="title-purple-upcase"><%= @prof.sport.sport_name %></h3>
          <div class="prof-infos flexify space-between">
            <div class="profil">
              <p class="bold"><%= @prof.name %> <%= @prof.surname %></p>
              <p><%= @prof.city %> - <%= @prof.country %></p>
              <p>Avis <%= link_to '(voir tous les avis)', "#reviews" %></p>
              <p><% @prof.average_rating.round.times do %>
                  <%= image_tag 'star-full.svg', class: "rating-prof-stars" %>
                <% end %>
                <% (5 - @prof.average_rating.round).times do %>
                  <%= image_tag 'star-empty.svg', class: "rating-prof-stars" %>
                <% end %>
                <span class="reviews-count"> (<%= @reviews.count %>)</span>
              </p>
            </div>
            <div class="social-networks text-right">
              <p class="title-purple-upcase">Réseaux sociaux</p>
              <% if @prof.instagram %>
                <a href="<%= @prof.instagram %>" target=”_blank” class="d-flex">
                  @<%= @prof.url_to_insta_pseudo %>
                  <%= image_tag "instagram.svg" %>
                </a>
              <% end %>
              <% if @prof.facebook %>
                <a href="<%= @prof.facebook %>" target=”_blank” class="d-flex">
                  <%= @prof.url_to_fb_pseudo %>
                  <%= image_tag "facebook.svg" %>
                </a>
              <% end %>
              <% if @prof.twitter %>
                <a href="<%= @prof.twitter %>" target=”_blank” class="d-flex">
                  <%= @prof.url_to_tw_pseudo %>
                  <%= image_tag "twitter.svg" %>
                </a>
              <% end %>
            </div>
          </div>
        </div>
      </div>


      <!-- DESCRIPTION & PLANNING -->
      <div class="mt-5">
        <div class="prof-description">
          <p class="bold">Présentation</p>
          <p class="text-justify"><%= @prof.presentation %></p>
        </div>
        <div class="prof-planning mt-5">
          <p class="bold">Planning</p>
          <div id="calendar"
          data-lessons="<%= @lessons.to_json %>" data-prof-id="<%= @prof.id %>"></div>
        </div>
      </div>

      <!-- REVIEWS -->
      <h4 class="mb-4">Tous les avis sur <%= @prof.name %> <%= @prof.surname %></h4>
      <%= render "reviews/index", reviews: @reviews %>


    </div>
  </div>
  <!--------------------------  PROF ------------------------------------------------------->

  <!--------------------------  LESSON ------------------------------------------------------->
  <div id="show-lesson-container" data-target="lessons.lesson" data-lessons-url="<%= resa_show_lessons_path %>" >
      <%= render "lessons/resa_show", lesson: @lesson, prof: @prof %>
    </div>
</div>
