<footer>
  <div id="footer-gray">
    <div class="left-part">
      <%= link_to "Aide", "" %>
      <%= link_to "Devenir coach sur Livesson", "" %>
      <%= link_to "Contact", "" %>
    </div>
    <div class='right-part'>
      <p>Retrouvez-nous sur</p>
      <%= link_to "" do %>
        <%= image_tag %>
      <% end %>
      <%= link_to "" do %>
        <%= image_tag %>
      <% end %>
      <%= link_to "" do %>
        <%= image_tag %>
      <% end %>
    </div>
  </div>
  <div id="footer-white">

  </div>
</footer>
