<footer>
  <div id="footer-gray">
    <div class="left-part">
      <div class="links">
        <%= link_to "Aide", "", class:'bold'%>
        <%= link_to "Devenir coach sur Livesson", "",class:'bold' %>
        <%= link_to "Contact", "",class:'bold' %>
      </div>
    </div>
    <div class='right-part'>
      <p>Retrouvez-nous sur</p>
      <div class="social-links">
        <%= link_to "" do %>
          <%= image_tag "footer/insta.svg" %>
        <% end %>
        <%= link_to  do %>
          <%= image_tag "footer/facebook.svg" %>
        <% end %>
        <%= link_to  do %>
          <%= image_tag "footer/linkedIn.svg" %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="footer-white">
    <div class="left-part">
      <p>Copyright © 2020 Livesson. Tous droits réservés.</p>
    </div>
    <div class="right-part">
      <div class="links">
        <%= link_to "Conditions d'utilisation", "" %>
        <%= link_to "Politique de protection des données", ""  %>
        <%= link_to "Mentions légales", ""  %>
      </div>
    </div>
  </div>
</footer>
