<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= link_to 'Aide', root_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to 'Inscription', root_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to root_path, class: "connexion navbar-wagon-item navbar-wagon-link" do %>
      <p>
        Connexion
      </p>
    <% end %>
  </div>
  <div class="logo">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <input type="text" placeholder="Rechercher un coach en particulier">
    <%= link_to root_path, class: "become-professional navbar-wagon-item navbar-wagon-link" do %>
      <p>
        Professionel ?<br>
        Proposer des cours
      </p>
    <% end %>
  </div>
</div>
