<div class="navbar-desktop d-none d-md-flex">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>
  <div class="content-navbar">
    <div class="search-bar-navbar">
      <i class="fas fa-search"></i>
      <input type="text" placeholder="Rechercher un coach en particulier">
    </div>
    <button class="btn-rounded medium">
      <p>
        Professionnel ? <br>
        Proposer des cours
       </p>
    </button>
    <%= link_to 'Aide', root_path, class:"medium nav-link" %>
    <%= link_to 'Inscription', new_user_registration_path, class:"medium nav-link" %>
    <%= link_to new_user_session_path do %>
      <button class="btn-rectangle medium">
        <p>Connexion</p>
      </button>
    <% end %>
  </div>
</div>
<div class="navbar-mobile d-flex d-sm-none">
  <div class="btn-group dropleft">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span></span><span></span><span></span>
    </button>
    <div class="dropdown-menu">
      <%= link_to 'Rechercher un coach en particulier', root_path %>
      <%= link_to 'Professionel ? Proposer des cours', root_path %>
    </div>
  </div>
  <div class="btn-group dropright">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="far fa-user"></i>
    </button>
    <div class="dropdown-menu">
      <%= link_to 'Aide', root_path %>
      <%= link_to 'Inscription', root_path %>
      <%= link_to 'Connexion', root_path %>
    </div>
  </div>
</div>
