<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="navbar-desktop d-none d-md-flex">
    <div class="logo">
      <%= image_tag "logo.png" %>
    </div>
  </div>
  <div class="navbar-mobile d-flex d-sm-none">
    <div class="btn-group dropleft">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span></span><span></span><span></span>
      </button>
      <div class="dropdown-menu">
        <%= link_to 'Rechercher un coach en particulier', root_path %>
        <%= link_to 'Professionel ? Proposer des cours', root_path %>
      </div>
    </div>
    <div class="btn-group dropright">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="far fa-user"></i>
      </button>
      <div class="dropdown-menu">
        <%= link_to 'Aide', root_path %>
        <%= link_to 'Inscription', root_path %>
        <%= link_to 'Connexion', root_path %>
      </div>
    </div>
  </div>
</div>

