<div class="show-lesson" id="show-lesson" data-target="lessons.lesson">
    <%= image_tag 'black-cross.svg', id: "closing-cross" %>
    <div class="reserver">
      <% if !@eleve.lessons.where(id: @lesson).any?  %>
        <%= simple_form_for [@lesson, @booking], url: lesson_bookings_url(@lesson) do |f| %>
          <%= f.button :submit, "Réserver", class: "btn-rectangle" %>
        <% end %>
      <% end %>
    </div>
    <div class="bold mb-4">
      <h3 class="title-purple-upcase lesson-title"><%= lesson.lesson_name %></h3>
      <h3 class="title-purple-upcase"><span class="lesson-price"><%= lesson.lesson_price %></span>€</h3>
    </div>
    <div class="infos-lesson">
      <p class="lesson-level"><%= lesson.lesson_level %></p>
      <p class="lesson-date"><span ><%= I18n.l(lesson.lesson_date, format: '%A %d %B %Y', locale: :'fr').capitalize %></span> à <%= lesson.start.strftime('%Hh%M') %></p>
      <p>Cours en <span class="lesson-language"><%= lesson.lesson_language %></span></p>
      <p><span class="lesson-duration"><%= lesson.lesson_duration %></span>min</p>
    </div>

    <div class="infos-teacher mt-4">
      <p> <%= lesson.eleve.name %> <%= lesson.eleve.surname %> </p>
      <p><% prof.average_rating.round.times do %>
          <%= image_tag 'star-full.svg' %>
        <% end %>
        <% (5 - prof.average_rating.round).times do %>
          <%= image_tag 'star-empty.svg' %>
        <% end %>
      </p>
    </div>

    <%#= lesson.rating %>
    <div class="mt-4">
      <p class="lesson-section-title">Descriptif du cours</p>
      <p class="text-justify lesson-description"><%= lesson.lesson_description %></p>
      <br>
      <p class="lesson-section-title">Matériel nécessaire</p>
      <p class="text-justify lesson-material"><%= lesson.lesson_material_needed %></p>
    </div>
  </div>
