<br>
<%= render 'shared/search-bar-lesson' %>
<br>
<div id="cards">
  <% if @lessons.count == 0 || @lessons.count == 1%>
    <p class=medium><%= @lessons.count %> résultat</p>
  <% else %>
   <p class=medium><%= @lessons.count %> résultats</p>
  <% end%>
  <div class="row">
    <% @lessons.each do |lesson| %>
      <div class="col-xs-12 col-md-6">
        <div class="card">
          <div class="image">
            <%= image_tag "empty.jpg" %>
          </div>
          <div class="card-content">
            <div class="card-content-left">
              <p class="lesson-type medium"> <%= lesson.lesson_name %> </p>
              <p class="lesson-level"> <%=lesson.lesson_level %> </p>
              <p class="lesson-teacher medium"> <%=lesson.eleve.name.capitalize %> <%= lesson.eleve.surname.capitalize %> </p>
              <p class="lesson-date"><span ><%= l(lesson.lesson_date, format: :long, locale: :'fr').capitalize %></span> à <%= l(lesson.start, format: '%Hh%M') %></p>
              <p class="lesson-language">Cours en <%= lesson.lesson_language %></p>
              <!-- <div class="lesson-notation">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <span class="__number">(3)</span>
              </div> -->
            </div>
            <div class="card-content-right">
              <div class="card-content-right-top">
                <p class="lesson-price medium">
                  <% if lesson.lesson_discount_price.nil? %>
                    <%= lesson.lesson_price %>€
                  <% else %>
                    <%= lesson.lesson_discount_price %>
                  <% end %>
                </p>
                <p class="lesson-duration"><%= lesson.lesson_duration / 60 %>min</p>
              </div>
              <% if current_user && lesson.eleve == current_user.eleve %>
                <%= link_to elefe_path(lesson.eleve, lesson: lesson) do %>
                  <button class="btn-rectangle">Voir mon cours</button>
                <% end %>
              <% else %>
                <%= link_to elefe_path(lesson.eleve, lesson: lesson) do %>
                  <button class="btn-rectangle">Réserver</button>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

