<div class="infos-lesson"></div>
<div class="" id="lesson-video-container" data-lesson-id="<%= @lesson.id %>" data-lesson-prof-name="<%= @lesson.eleve.name.downcase %>" data-lesson-title="<%= @lesson.lesson_name  %>" data-lesson-prof-surname="<%= @lesson.eleve.surname.downcase %>" data-user="<%= current_user.eleve.name %> <%= current_user.eleve.surname %>"></div>
