<div class="" id="reviews">
  <div>
    <% if !reviews.empty? %>
      <% reviews.each do |review| %>
        <div class="row">
          <% if  current_page?(action: 'show') %>
            <div class="col-xs-12 col-md-8">
          <% else %>
            <div class="">
          <% end %>
            <div class="d-flex">
              <% if @eleve.profile_picture.attached? %>
                <%= image_tag @eleve.profile_picture, class: 'avatar-large' %>
              <% else %>
                <%= image_tag 'empty.jpg', class: 'avatar-large' %>
              <% end %>
              <div class="ml-3">
                <div class="bold review-title mt-3 d-flex">
                  <p><%= review.eleve.name %> <%= review.eleve.surname[0] %>.</p>
                  <div class="ml-3">
                    <% review.rating.round.times do %>
                      <%= image_tag 'star-full.svg', class: "rating-prof-stars"  %>
                    <% end %>
                    <% (5 - review.rating.round).times do %>
                      <%= image_tag 'star-empty.svg', class: "rating-prof-stars"  %>
                    <% end %>
                  </div>
                </div>
                <% if  current_page?(action: 'show') %>
                  <p class="review-lesson"><%= review.lesson.lesson_name %> - <%= I18n.l(review.lesson.lesson_date, format: '%B %Y', locale: :'fr').capitalize %> </p>
                <% end %>
                <p class="mt-2"><%= review.content %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>Ce professeur n'a pas encore d'avis</p>
    <% end %>
  </div>
</div>
