<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Livesson</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href='node_modules/@fullcalendar/core/main.css' rel='stylesheet' />
    <link href='node_modules/@fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href='node_modules/@fullcalendar/bootstrap/main.css' rel='stylesheet' />
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= favicon_link_tag asset_path('picto-logo.png') %>
    <script src='https://meet.jit.si/external_api.js'></script>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>

    <%= javascript_pack_tag 'application' %>
  </body>

</html>
